---
layout: page
title: Publication
---
<p> Please visit my <a href="https://scholar.google.com/citations?user=9i_MgykAAAAJ&hl=en">Google Scholar</a> for a full publication list.</p>

<div>
  <li>
    <strong><span style="color:#000080;">Cooperative Autonomy:</span></strong>
    <em>AVR [<a href="https://doi.org/10.1145/3210240.3210319">Mobisys'18</a>],
        CarMap [<a href="https://www.usenix.org/system/files/nsdi20-paper-ahmad.pdf">NSDI'20</a>],
      Coopernaut [<a href="https://arxiv.org/abs/2205.02222">CVPR'22</a>],
    AutoCast [<a href="https://arxiv.org/abs/2112.14947">Mobisys'22</a>]</em>
  </li>
<li>
    <strong><span style="color:#000080;">System for Edge ML:</span></strong>
    <em>FedML [<a href="https://arxiv.org/abs/2007.13518">NeurIPS'20(SpicyFL)</a>],
        ML-EXray [<a href="https://arxiv.org/abs/2111.04779">MLSys'22</a>]</em></li>
<li>
<strong><span style="color:#000080;">Video Delivery & Analytics:</span></strong>
    <em>CoBCast [<a href="https://doi.org/10.1145/2942358.2942372">Mobihoc'16</a>],
        Kestrel [<a href="https://ieeexplore.ieee.org/abstract/document/8366976">IoTDI'18</a>]</em></li>
<li>
<strong><span style="color:#000080;">Vehicular Sensing:</span></strong>
    <em>CarLog [<a href="https://doi.org/10.1145/2668332.2668350">Sensys'14</a>],
        CarLoc [<a href="https://doi.org/10.1145/2809695.2809725">Sensys'15</a>],
      ContextSensing [<a href="https://ieeexplore.ieee.org/abstract/document/8100990">TVT'17</a>]</em></li>
</div>




<div>

{% for pub in site.data.pub %}
    {% if pub.ENTRYTYPE == "misc" %}
    <div class="pubwraper">
        {% if pub.img %}
            <div class="pubimg">
                <img class="center" src="{{ site.baseurl }}assets/imgs/{{pub.img}}">
            </div>
        {% endif %}
        <div class="pubentry">
        <p>
            <strong><span style="color:#000080;">{{ pub.title }}</span></strong>
            <br>
            {{ pub.author }}
            <br>
            <em>{{pub.conf}}, {{pub.year}}{% if pub.note %}, <span style="color:#ff0000;">{{pub.note}}</span>{% endif %}</em>
            <br>
            {% if pub.url %}
            <a href={{pub.url}} target="_blank" role="button">
            [Paper]
            </a>
            {% endif%}
            {% if pub.talk %}
            <a href={{pub.talk}} target="_blank" role="button">
            [Talk]
            </a>
            {% endif%}
            {% if pub.demo %}
            <a href={{pub.demo}} target="_blank" role="button">
            [Demo]
            </a>
            {% endif%}
            {% if pub.data %}
            <a href={{pub.data}} target="_blank" role="button">
            [Data]
            </a>
            {% endif%}
            {% if pub.code %}
            <a href={{pub.code}} target="_blank" role="button">
            [Code]
            </a>
            {% endif%}
            {% if pub.web %}
            <a href={{pub.web}} target="_blank" role="button">
            [Website]
            </a>
            {% endif%}
        </p>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
<div>

{% for pub in site.data.pub %}
    {% if pub.ENTRYTYPE == "inproceedings" or pub.ENTRYTYPE == "article" %}
    <div class="pubwraper">
        {% if pub.img %}
            <div class="pubimg">
                <img class="center" src="{{ site.baseurl }}assets/imgs/{{pub.img}}">
            </div>
        {% endif %}
        <div class="pubentry">
        <p>
            <div>
            <strong><span style="color:#000080;">{{ pub.title }}</span></strong>
            <br>
            {{ pub.author }}
            <br>
            <em>{{pub.conf}}, {{pub.year}}{% if pub.note %}, <span style="color:#ff0000;">{{pub.note}}</span>{% endif %}</em>
            <br>
            {% if pub.url %}
            <a href={{pub.url}} target="_blank" role="button">
            [Paper]
            </a>
            {% endif%}
            {% if pub.talk %}
            <a href={{pub.talk}} target="_blank" role="button">
            [Talk]
            </a>
            {% endif%}
            {% if pub.demo %}
            <a href={{pub.demo}} target="_blank" role="button">
            [Demo]
            </a>
            {% endif%}
            {% if pub.data %}
            <a href={{pub.data}} target="_blank" role="button">
            [Data]
            </a>
            {% endif%}
            {% if pub.code %}
            <a href={{pub.code}} target="_blank" role="button">
            [Code]
            </a>
            {% endif%}
            {% if pub.web %}
            <a href={{pub.web}} target="_blank" role="button">
            [Project]
            </a>
            {% endif%}
            </div>
            <div class="pubmediacontainer">
                {% if pub.mediaa %}
                <div><span style="color:#FF6F61;"><em>Media: </em></span></div>
                <div class="pubmedia">
                 <a href={{pub.mediaaurl}} target="_blank" role="button">
                <img src="{{ site.baseurl }}assets/imgs/{{pub.mediaa}}" width="90%" align="right"></a>
                </div>
                {% if pub.mediab %}
                <div class="pubmedia">
                 <a href={{pub.mediaburl}} target="_blank" role="button">
                <img src="{{ site.baseurl }}assets/imgs/{{pub.mediab}}"  width="90%" align="right"></a>
                {% endif %}
                {% if pub.mediac %}
                <div class="pubmedia">
                 <a href={{pub.mediacurl}} target="_blank" role="button">
                <img src="{{ site.baseurl }}assets/imgs/{{pub.mediac}}"  width="90%" align="right"></a>
                {% endif %}
                {% endif %}
            </div>
        </p>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
